 @model ProveedorModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/Proveedor.css" />
    <title>Proveedor</title>
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="../Imagen/alcohol-1961542_1920.jpg" alt="La Caguama Logo">
        </div>
        <a href="@Url.Action("Menu", "Home")" class="menu-item">Menú</a>
        <a href="@Url.Action("Ordenes", "Orders")" class="menu-item">Ordenes</a>
        <a href="@Url.Action("Historial", "History")" class="menu-item">Historial</a>
        <a href="@Url.Action("Inventario", "Inventario")" class="menu-item">Inventario</a>
        <a href="@Url.Action("Login", "Login")" class="menu-item">Salir</a>
    </div>
    <div class="proveedor">
        @if (Model.Proveedores != null && Model.Proveedores.Any())
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>NombreBebida</th>
                        <th>Telefono</th>
                        <th>Direccion</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Proveedores)
                    {
                        <tr>
                            <td>@item.Nombre</td>
                            <td>@item.NombreBebida</td>
                            <td>@item.Telefono</td>
                            <td>@item.Direccion</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No hay datos disponibles.</p>
        }
    </div>
    <div class="buttons">
        <a href="@Url.Action("Index", "Home")" class="btn">Inicio</a>
        <a href="@Url.Action("Inventario", "Inventario")" class="btn">Regresar</a>
    </div>
</body>
</html>
