@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/Home.css" />
    <title>Home</title>
</head>
<body>
<div class="container text-center mt-5">
        <div class="sidebar">
            <div class="logo">
                <img src="../Imagen/alcohol-1961542_1920.jpg" alt="La Caguama Logo">
            </div>
            <a href="@Url.Action("Menu", "Menu")" class="menu-item">Menú</a>
            <a href="@Url.Action("Mesas", "Pedidos")" class="menu-item">Ordenes</a>
            <a href="@Url.Action("Historial", "Factura")" class="menu-item">Historial</a>
            <a href="@Url.Action("Inventario", "Inventario")" class="menu-item">Inventario</a>
            <a href="@Url.Action("Login", "Login")" class="menu-item">Salir</a>
        </div>

</div>
</body>
</html>