
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/Mesa.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Mesas</title>
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="../Imagen/Picsart_24-05-23_21-20-11-938.png" alt="La Caguama Logo">
        </div>
        <a href="@Url.Action("Menu", "Menu")" class="menu-item">Menú</a>
        <a href="@Url.Action("Mesas", "Pedidos")" class="menu-item">Ordenes</a>
        <a href="@Url.Action("Historial", "Factura")" class="menu-item">Historial</a>
        <a href="@Url.Action("Inventario", "Inventario")" class="menu-item">Inventario</a>
        <a href="@Url.Action("Login", "Login")" class="menu-item">Salir</a>
    </div>

    <div class="main-content">
        <div class="header">
            <h1>Mesas</h1>
            <div class="buttons">
                <a href="@Url.Action("Index", "Home")" class="btn">Inicio</a>
            </div>
        </div>
        <div class="tables">
            <div class="table" id="table-1"><a href="@Url.Action("Menus", "Pedidos", new { tableId = 1 })" class="btn"><i class='bx bx-bowl-hot'></i>1<i class='bx bxs-beer'></i></a></div>
            <div class="table" id="table-2"><a href="@Url.Action("Menus", "Pedidos", new { tableId = 2 })" class="btn"><i class='bx bx-bowl-hot'></i>2<i class='bx bxs-beer'></i></a></div>
            <div class="table" id="table-3"><a href="@Url.Action("Menus", "Pedidos", new { tableId = 3 })" class="btn"><i class='bx bx-bowl-hot'></i>3<i class='bx bxs-beer'></i></a></div>
            <div class="table" id="table-4"><a href="@Url.Action("Menus", "Pedidos", new { tableId = 4 })" class="btn"><i class='bx bx-bowl-hot'></i>4<i class='bx bxs-beer'></i></a></div>
            <div class="table" id="table-5"><a href="@Url.Action("Menus", "Pedidos", new { tableId = 5 })" class="btn"><i class='bx bx-bowl-hot'></i>5<i class='bx bxs-beer'></i></a></div>
            <div class="table" id="table-6"><a href="@Url.Action("Menus", "Pedidos", new { tableId = 6 })" class="btn"><i class='bx bx-bowl-hot'></i>6<i class='bx bxs-beer'></i></a></div>
            <div class="table" id="table-7"><a href="@Url.Action("Menus", "Pedidos", new { tableId = 7 })" class="btn"><i class='bx bx-bowl-hot'></i>7<i class='bx bxs-beer'></i></a></div>
            <div class="table" id="table-8"><a href="@Url.Action("Menus", "Pedidos", new { tableId = 8 })" class="btn"><i class='bx bx-bowl-hot'></i>8<i class='bx bxs-beer'></i></a></div>
        </div>
        <div class="buttons">
            <a href="@Url.Action("Index", "Home")" class="btn">Inicio</a>
            <a href="@Url.Action("VisualizarPedido", "Pedidos")" class="btn">Ver Pedidos</a>
        </div>
    </div>
    
</body>
</html>
